body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-title{
	color:green;
	text-align:center;
}

.table-header{
	  text-align:center !important;
	  font-weight:bold !important;
}

.table-rows{

}

td{
    border-bottom: 1px solid #ddd;
     padding: 8px;
       column-width: 900px;
}
.city-table{
	
}

tr:nth-child(even) {background-color: #f2f2f2;}

td:nth-child(1) {
  width: 200px;
  }
td:nth-child(2) {
 width: 600px;
 }
 td:nth-child(3) {
 width: 300px;
 }
 td:nth-child(4) {
 width: 200px;
 }
 

 .icon{
    width: 160px;
    height: 80px;
}

  .wrap_header {
    width: 100%;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    padding:0px;
  }
  .welcome-message{
  text-align:center;
  }
  
  h1,.headings{
    text-align:center;
  }
  
  .button{
  font-weight:bold;
  font-size:24px;
  margin:10px;
  length:10px;
  width: 250px;
  }
  
  .headerIcon{
    height: 27px;
    position: relative;
    font-size:large;
    color:black;
    font-weight:bold;
    left:1000px;
    bottom:30px;
  }
  
  .form{
    position:relative;
	margin: 0 auto; 
	width:400px;
	top:50px;
}

.form-label{
	display: inline-block;
    width:150px;
    text-align: right;
}
.form-buttons{
	position:relative;
	left:80px;
}
