.container{
height: 100%;
align-content: center;
}

.card{
position:absolute !important;
height: auto;
top: 80px;
margin-bottom: auto;
width: 400px;
}

.propertyForm{
width: 700px;	
}

.buttongroup{
	  display:flex;
  justify-content:space-around;
}
}
.addbutton{
	width:100%;
	margin:10px;	
}

.card-header h3{
color: Black;
}

.input-group-prepend span{
width: 50px;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.links a{
margin-left: 4px;
}

.error-msg{
	position:relative;
	top:80px;
	left:20px;
	
}