doctype html
html
  head
    meta(charset='ISO-8859-1') 
    title Property Guru
    link(rel='stylesheet', href='/styles/landing.css')
    link(rel='stylesheet', href='/styles/login.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/scripts/register.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  body
    div
      header
        nav.navbar.navbar-dark.navbar-expand-lg.bg-dark.fixed-top.scrolling-navbar
          #header_bar.container
            a.navbar-brand(href='/')
              img.logo(src='/images/logo.jpg')
            #basicExampleNav.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href='/') Home              
                li.nav-item
                  a.nav-link(href='/#services') Services        
                li.nav-item
                  a.nav-link(href='/#contact') Contact        
                li.nav-item
                  a.nav-link(href='/buySearch') Buy
                li.nav-item
                  a.nav-link(href='/property') Sell
                li.nav-item
                  a.nav-link(href='/dashboard') Dashboard            
              ul.navbar-nav.ml-auto
                li.nav-item
                 a.nav-link(href='/userListings')
                    |  Hi #{name}
                li.nav-item
                  a.nav-link(href='/logout')
                    i.fa.fa-sign-out.nav-item(aria-hidden='true')
                    |  Logout
      |     
      main
        br      
        br      
        br      
        .container
          section
            .container
              if(message)
               .d-flex.justify-content-end.h-100.error-msg
                 .alert.alert-dark
                   | #{message} 
              .d-flex.justify-content-center.h-100
                .card.propertyForm
                  .card-header
                    h3 House Details            
                  .card-body
                    form#addproperty.needs-validation(name='addproperty', method='post', action='/property', novalidate='')
                      label Property type:                  
                      .input-group.mb-3
                        .input-group-prepend
                          .input-group-text
                            .form-check-inline
                              label.form-check-label
                                input.form-check-input(type='radio', name='optradio',value='Apartment',checked='')
                                | Apartment                 
                            .form-check-inline
                              label.form-check-label
                                input.form-check-input(type='radio', name='optradio',value='Independent house')
                                | Independent house                    
                            .form-check-inline.disabled
                              label.form-check-label
                                input.form-check-input(type='radio', name='optradio',value='Villa')
                                | Villa        
                      label(for='propName') Property Name:   
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-home           
                        input#propName.form-control(type='text', name='propName', required='')   
                        .invalid-feedback Please enter Property Name
                      label(for='description') Description:
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-info       
                        textarea#description.form-control(rows='3', placeholder='Type here..', name='description', required='')
                        .invalid-feedback Please enter your Property Description
                      label(for='bedrooms') Bedrooms:
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-hotel     
                        select#bedrooms.form-control.col-md-2(name='bedrooms')
                          option(value='1', selected='') 1
                          option(value='2') 2
                          option(value='3') 3
                          option(value='4') 4
                          option(value='5+') 5+                   
                      label Furnish Type:                  
                      .input-group.mb-3
                        .input-group-prepend
                          .input-group-text
                            .form-check-inline.col-auto
                              label.form-check-label
                                input.form-check-input(type='radio', name='furnradio',value='Unfurnished',checked='')
                                | Unfurnished                        
                            .form-check-inline.col-auto
                              label.form-check-label
                                input.form-check-input(type='radio', name='furnradio',value='Semi-furnished')
                                | Semi-furnished               
                            .form-check-inline.col-auto
                              label.form-check-label
                                input.form-check-input(type='radio', name='furnradio',value='Fully Furnished')
                                | Fully Furnished    
                      label Facilities:
                      .form-check-inline.col-auto
                        label.form-check-label
                          input.form-check-input(type='checkbox',name="facilities", value='Swimming pool')
                          | Swimming pool     
                      .form-check-inline.col-auto
                        label.form-check-label
                          input.form-check-input(type='checkbox',name="facilities",  value='Gym')
                          | Gym      
                      .form-check-inline.col-auto
                        label.form-check-label
                          input.form-check-input(type='checkbox',name="facilities",  value='Laundry unit')
                          | Laundry unit      
                      .form-check-inline.col-auto
                        label.form-check-label
                          input.form-check-input(type='checkbox',name="facilities",  value='Dishwasher')
                          | Dishwasher
                      br     
                      label(for='propName') Image URL:
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-image        
                        input#imgurl.form-control(type='text', name='imgurl')
                        //- |                       
                        //- .invalid-feedback Please enter valid URL
                      label Address       
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                           i.fa.fa-address-card
                        input#streetaddr1.form-control(type='text', placeholder='Street Address 1', name='streetaddr1', required='')
                        .invalid-feedback Please enter street address
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-address-card
                        input#streetaddr2.form-control(type='text', placeholder='Street Address 2', name='streetaddr2')
                        .invalid-feedback Please enter street address
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-flag
                         select.form-control(name='county')
                           option(value='Alameda' selected='') Alameda
                           option(value='Alpine') Alpine
                           option(value='Amador') Amador
                           option(value='Butte') Butte
                           option(value='Calaveras') Calaveras
                           option(value='Colusa') Colusa
                           option(value='Contra Costa') Contra Costa
                           option(value='Del Norte') Del Norte
                           option(value='El Dorado') El Dorado
                           option(value='Fresno') Fresno
                           option(value='Glenn') Glenn
                           option(value='Humboldt') Humboldt
                           option(value='Imperial') Imperial
                           option(value='Inyo') Inyo
                           option(value='Kern') Kern
                           option(value='Kings') Kings
                           option(value='Lake') Lake
                           option(value='Lassen') Lassen
                           option(value='Los Angeles') Los Angeles
                           option(value='Madera') Madera
                           option(value='Marin') Marin
                           option(value='Mariposa') Mariposa
                           option(value='Mendocino') Mendocino
                           option(value='Merced') Merced
                           option(value='Modoc') Modoc
                           option(value='Mono') Mono
                           option(value='Monterey') Monterey
                           option(value='Napa') Napa
                           option(value='Nevada') Nevada
                           option(value='Orange') Orange
                           option(value='Placer') Placer
                           option(value='Plumas') Plumas
                           option(value='Riverside') Riverside
                           option(value='Sacramento') Sacramento
                           option(value='San Benito') San Benito
                           option(value='San Bernardino') San Bernardino
                           option(value='San Diego') San Diego
                           option(value='San Francisco') San Francisco
                           option(value='San Joaquin') San Joaquin
                           option(value='San Luis Obispo') San Luis Obispo
                           option(value='San Mateo') San Mateo
                           option(value='Santa Barbara') Santa Barbara
                           option(value='Santa Clara') Santa Clara
                           option(value='Santa Cruz') Santa Cruz
                           option(value='Shasta') Shasta
                           option(value='Sierra') Sierra
                           option(value='Siskiyou') Siskiyou
                           option(value='Solano') Solano
                           option(value='Sonoma') Sonoma
                           option(value='Stanislaus') Stanislaus
                           option(value='Sutter') Sutter
                           option(value='Tehama') Tehama
                           option(value='Trinity') Trinity
                           option(value='Tulare') Tulare
                           option(value='Tuolumne') Tuolumne
                           option(value='Tulare') Ventura
                           option(value='Tulare') Yolo
                           option(value='Tulare') Yuba
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-building 
                        input#city.form-control(type='text', placeholder='City', name='city', required='')
                        .invalid-feedback Please enter city
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-building   
                        input#state.form-control(type='text', placeholder='State', name='state', required='')
                        .invalid-feedback Please enter state
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                           i.fa.fa-map-pin  
                        input#zipcode.form-control(type='text', placeholder='Zipcode', name='zipcode', required='')
                        .invalid-feedback Please enter zipcode
                      label Price        
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-money    
                        input#price.form-control(type='number',min='0', placeholder='Price', name='price', required='')
                        .invalid-feedback Please enter price details
                      label Built-up Area  
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-square     
                        input#sft.form-control(type='number', min='0',placeholder='Area in sft', name='sft', required='')
                        .invalid-feedback Please enter area
                      label Contact                           
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-phone      
                        input#phone.form-control(type='text', placeholder='999 999-9999', name='phone', required='', pattern='^[0-9][0-9][0-9] +[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]$')
                        .invalid-feedback
                          | Please enter valid Phone number format(999 999-9999)
                      .form-group.buttongroup
                        input.btn.btn-dark.addbutton(type='reset', value='Reset')
                        a(href='/buYSearch')
                         input.btn.btn-dark.addbutton(type='button', value='Cancel')
                        input.btn.btn-dark.addbutton(type='submit', value='Submit')