doctype html
html
  head
    meta(charset='ISO-8859-1')
    title Property Guru
    link(rel='stylesheet', href='/styles/landing.css')
    link(rel='stylesheet', href='/styles/login.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/scripts/register.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  body
    div
      header
        nav.navbar.navbar-dark.navbar-expand-lg.bg-dark.fixed-top.scrolling-navbar
          #header_bar.container
            a.navbar-brand(href='/') Property Guru
            #basicExampleNav.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href='/') Home
                li.nav-item
                  a.nav-link(href='/#services') Services
                li.nav-item
                  a.nav-link(href='/#contact') Contact
                li.nav-item
                  a.nav-link(href='/buySearch') Buy
                li.nav-item
                  a.nav-link(href='') Sell
                li.nav-item
                  a.nav-link(href='/dashboard') Dashboard
              ul.navbar-nav.ml-auto
                li.nav-item
                  a.nav-link(href='/login')
                    i.fa.fa-sign-in.nav-item(aria-hidden='true')
                    |  Login
                li.nav-item
                  a.nav-link(href='/register')
                    i.fa.fa-user-plus.nav-item(aria-hidden='true')
                    | 									Register
      main
        .container
          section
            .container
              .d-flex.justify-content-center.h-100
                .card
                  .card-header
                    h3 Register
                  .card-body
                    form#adduser.needs-validation(name='adduser', method='post', action='/register', novalidate='')
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-user
                        input#firstName.form-control(type='text', placeholder='First Name', name='firstName', required='')
                        .invalid-feedback Please enter First Name.
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-user
                        input#lastName.form-control(type='text', placeholder='Last Name', name='lastName', required='')
                        .invalid-feedback Please enter Last Name.
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-envelope
                        input#email.form-control(type='text', placeholder='xxx@xxx.xxx', name='email', required='', pattern='^.+@.+\..{2,4}$')
                        .invalid-feedback
                          | Please enter valid Email
                          | Id.
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-phone
                        input#phone.form-control(type='text', placeholder='999 999-9999', name='phone', required='',pattern='^[0-9][0-9][0-9] +[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]$')
                        .invalid-feedback
                           | Please enter valid Phone
                           | Number.
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-key
                        input#password.form-control(type='password', placeholder='Password', name='password', required='',pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{8,}$', onchange='form.confirmPassword.pattern = RegExp.escape(this.value);')
                        .invalid-feedback
                          | Please enter valid
                          | password (Atleast 1 uppercase,1 lowercase and 1 digit with minimum of 8 characters.)
                      .input-group.form-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-key
                        input#confirmPassword.form-control(type='password', placeholder='Confirm Password', name='confirmPassword', required='')
                        .invalid-feedback
                          | Passwords does not match
                      .form-group
                        input.btn.float-right.btn-dark(type='submit', value='Register')
                  .card-footer
                    .d-flex.justify-content-center.links
                      | Already registered?
                      a(href='/login') Login
